Source: missingh
Priority: extra
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: John Goerzen <jgoerzen@complete.org>
Build-Depends: debhelper (>= 5.0.0),
 cdbs,
 haskell-devscripts (>= 0.6.15),
 haddock,
 hscolour,
 ghc6 (>= 6.12),
 cpphs,
 libghc6-network-dev,
 libghc6-mtl-dev,
 libghc6-hunit-dev,
 libghc6-hslogger-dev (>= 1.0.7.2),
 libghc6-regex-compat-dev (>= 0.91),
 libghc6-parsec-dev
Standards-Version: 3.8.4
Section: haskell
Homepage: http://software.complete.org/software/projects/show/missingh
Vcs-Git: git://git.debian.org/git/pkg-haskell/missingh.git
Vcs-Browser: http://git.debian.org/?p=pkg-haskell/missingh.git;a=summary

Package: libghc6-missingh-dev
Section: haskell
Architecture: any
Depends: ${misc:Depends}, ${haskell:Depends}, ${shlibs:Depends}
Suggests: missingh-doc
Description: Library of utility functions for Haskell, GHC6 package 
 MissingH is a library of all sorts of utility functions for
 Haskell programmers.  It is written in pure Haskell and thus should
 be extremely portable and easy to use.  It also has no prerequisites
 save those that are commonly included with Haskell compilers.
 .
 MissingH is based on my MissingLib library for OCaml and contains some
 of the same features.  However, some features are left behind because
 they are already in Haskell or not needed here -- and others are added
 due to things Haskell is missing, or things that Haskell makes
 possible.

Package: libghc6-missingh-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Provides: missingh-doc
Replaces: missingh-doc (<< 1.1.0.3-2)
Conflicts: missingh-doc (<< 1.1.0.3-2)
Description: Documentation for Haskell utility library
 MissingH is a library of all sorts of utility functions for
 Haskell programmers.  It is written in pure Haskell and thus should
 be extremely portable and easy to use.  It also has no prerequisites
 save those that are commonly included with Haskell compilers.
 .
 MissingH is based on my MissingLib library for OCaml and contains some
 of the same features.  However, some features are left behind because
 they are already in Haskell or not needed here -- and others are added
 due to things Haskell is missing, or things that Haskell makes
 possible.
 .
 This package provides the API documentation for MissingH.

